{% extends "portfolio/base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block header %}
    {% include 'portfolio/header_2.html' %}
{% endblock %}
{% block body %}
    <div class="page-loader bg-theme-accent-dark">
        <div class="text-center m-auto font-size-5rem loading"></div>
    </div>
    {% include page.layout.template %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block js_scripts %}
    <script src="{% static "portfolio/js/pageLoader.js" %}"></script>
{% endblock %}
