<div class="section-content">
    <div class="section-body">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="font-oswald banner-text bg-text-image">
                        <div class="text-transparent transform-transparent bg-theme-secondary py-1">
                            {{ section.text_1.text }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="font-oswald banner-text bg-text-image">
                        <div class="text-transparent transform-transparent bg-theme-secondary py-1">
                            {{ section.text_2.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>