{% load static %}
<div class="bg-dark vh-25 vw-100"
     style="background-image: url({% static "/portfolio/img/andrew-stutesman-l68Z6eF2peA-unsplash.jpg" %});
             background-size: cover;
             background-position: center;">
    <div class="h-100 w-100 tinted-center">
        <div class="text-theme-secondary m-auto font-kingsbridge font-weight-bold">
            <div class="d-flex">
                <img class="d-none d-sm-flex" style="max-width: 100px;"
                     src="{% static page.img_5.image_url %}" alt="{{ page.text_5.text }}">
                <h1>{{ page.name }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="row font-kingsbridge">
            <div class="col">
                <div class="font-weight-bold pl-2">
                    summary &#x2501;
                </div>
            </div>
        </div>
        <div class="row font-oswald">
            <div class="col-10 col-md-6 offset-1 offset-md-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis leo non finibus.
                Suspendisse lorem ipsum, vehicula ut tempus vel, hendrerit aliquet mi. Maecenas molestie nunc eu
                fermentum hendrerit. Maecenas sit amet condimentum arcu. Integer fermentum sapien eu blandit volutpat.
                Duis sit amet est sed massa dignissim vulputate sed a diam. Etiam vitae mattis dolor. Duis non luctus
                orci, sed pulvinar velit. Cras egestas lectus in tellus tempor, at pulvinar ex faucibus. Vestibulum
                accumsan tortor et gravida facilisis. In volutpat nec nisl et cursus.
            </div>
        </div>
        <hr>
        <div class="row font-kingsbridge">
            <div class="col">
                <div class="font-weight-bold">
                    visit &#x2501;
                </div>
                <div class="text-dark font-oswald text-center">
                    <a href="http://www.bwanaz.com" class="btn bg-theme-accent-light">Github</a>
                </div>
            </div>
            <div class="col">
                <div class="font-weight-bold">
                    roles &#x2501;
                </div>
                <div class="font-oswald">
                    <div class="text-dark text-center">
                        Software Engineer
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="font-weight-bold">
                    timeline &#x2501;
                </div>
                <div class="text-dark font-oswald text-center">
                    June 2020 - July 2020
                </div>
            </div>
        </div>
        <hr>
        <div class="row font-kingsbridge">
            <div class="col">
                <div class="font-weight-bold pl-2">
                    skills &#x2501;
                </div>
            </div>
            <div class="container text-center">
                <div class="row d-flex">
                    <div class="col-3 my-auto slide-left dur-1 m-auto">
                        <img class="w-100" src="{% static page.img_1.image_url %}" alt="{{ page.text_1.text }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-3 bg-theme-primary">
        <div class="col">
            <div class="font-kingsbridge font-weight-bold">
                <h1>00. DEEP DIVE &#8628;</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="tab-1">
        <div class="col offset-2">
            <div class="font-kingsbridge font-weight-bold">
                <h3><span class="bg-theme-primary p-1 rounded">01.</span> Lorem Ipsum &#x2501;</h3>
            </div>
        </div>
        <div class="col-12 font-oswald">
            <div class="row">
                <div class="col-12 col-md-6 d-flex">
                    <img class="mx-auto"
                         style="max-width: 100% "
                         src="{% static "" %}"
                         alt="">
                </div>
                <div class="col-12 col-md-6 d-flex">
                    <div class="m-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis leo non
                            finibus. Suspendisse lorem ipsum, vehicula ut tempus vel, hendrerit aliquet mi. Maecenas
                            molestie nunc eu fermentum hendrerit. Maecenas sit amet condimentum arcu. Integer fermentum
                            sapien eu blandit volutpat. Duis sit amet est sed massa dignissim vulputate sed a diam.
                            Etiam vitae mattis dolor. Duis non luctus orci, sed pulvinar velit. Cras egestas lectus in
                            tellus tempor, at pulvinar ex faucibus. Vestibulum accumsan tortor et gravida facilisis. In
                            volutpat nec nisl et cursus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="tab-2">
        <div class="col offset-2 d-inline d-md-none">
            <div class="font-kingsbridge font-weight-bold">
                <h3><span class="bg-theme-primary p-1 rounded">02.</span> Lorem Ipsum &#x2501;</h3>
            </div>
        </div>
        <div class="col-12 bg-light font-oswald p-3">
            <div class="row">
                <div class="col d-flex">
                    <div class="m-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis leo non
                            finibus. Suspendisse lorem ipsum, vehicula ut tempus vel, hendrerit aliquet mi. Maecenas
                            molestie nunc eu fermentum hendrerit. Maecenas sit amet condimentum arcu. Integer fermentum
                            sapien eu blandit volutpat. Duis sit amet est sed massa dignissim vulputate sed a diam.
                            Etiam vitae mattis dolor. Duis non luctus orci, sed pulvinar velit. Cras egestas lectus in
                            tellus tempor, at pulvinar ex faucibus. Vestibulum accumsan tortor et gravida facilisis. In
                            volutpat nec nisl et cursus.</p>
                    </div>
                </div>
                <div class="col d-none d-md-flex">
                    <div class="font-kingsbridge font-weight-bold m-auto">
                        <h3>&#x2501; <span class="bg-theme-primary p-1 rounded">02.</span> Lorem Ipsum </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="tab-3">
        <div class="col offset-2">
            <div class="font-kingsbridge font-weight-bold">
                <h3><span class="bg-theme-primary p-1 rounded">03.</span> Lorem Ipsum &#x2501;</h3>
            </div>
        </div>
        <div class="col-12 font-oswald p-3">
            <div class="row">
                <div class="col d-flex">
                    <div class="m-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis leo non
                            finibus. Suspendisse lorem ipsum, vehicula ut tempus vel, hendrerit aliquet mi. Maecenas
                            molestie nunc eu fermentum hendrerit. Maecenas sit amet condimentum arcu. Integer fermentum
                            sapien eu blandit volutpat. Duis sit amet est sed massa dignissim vulputate sed a diam.
                            Etiam vitae mattis dolor. Duis non luctus orci, sed pulvinar velit. Cras egestas lectus in
                            tellus tempor, at pulvinar ex faucibus. Vestibulum accumsan tortor et gravida facilisis. In
                            volutpat nec nisl et cursus.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex">
                    <img class="mx-auto"
                         style="max-width: 100% "
                         src="{% static "" %}"
                         alt="">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="tab-4">
        <div class="col offset-2 d-inline d-md-none">
            <div class="font-kingsbridge font-weight-bold">
                <h3><span class="bg-theme-primary p-1 rounded">04.</span> Lorem Ipsum &#x2501;</h3>
            </div>
        </div>
        <div class="col-12 bg-light font-oswald p-3">
            <div class="row">
                <div class="col d-none d-md-flex">
                    <div class="font-kingsbridge font-weight-bold m-auto">
                        <h3><span class="bg-theme-primary p-1 rounded">04.</span> Lorem Ipsum &#x2501;</h3>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="m-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis leo non
                            finibus. Suspendisse lorem ipsum, vehicula ut tempus vel, hendrerit aliquet mi. Maecenas
                            molestie nunc eu fermentum hendrerit. Maecenas sit amet condimentum arcu. Integer fermentum
                            sapien eu blandit volutpat. Duis sit amet est sed massa dignissim vulputate sed a diam.
                            Etiam vitae mattis dolor. Duis non luctus orci, sed pulvinar velit. Cras egestas lectus in
                            tellus tempor, at pulvinar ex faucibus. Vestibulum accumsan tortor et gravida facilisis. In
                            volutpat nec nisl et cursus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="tab-5">
        <div class="col offset-2 d-inline d-md-none">
            <div class="font-kingsbridge font-weight-bold">
                <h3><span class="bg-theme-primary p-1 rounded">05.</span> Lorem Ipsum &#x2501;</h3>
            </div>
        </div>
        <div class="col-12 font-oswald p-3">
            <div class="row">
                <div class="col d-flex">
                    <div class="m-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate quis leo non
                            finibus. Suspendisse lorem ipsum, vehicula ut tempus vel, hendrerit aliquet mi. Maecenas
                            molestie nunc eu fermentum hendrerit. Maecenas sit amet condimentum arcu. Integer fermentum
                            sapien eu blandit volutpat. Duis sit amet est sed massa dignissim vulputate sed a diam.
                            Etiam vitae mattis dolor. Duis non luctus orci, sed pulvinar velit. Cras egestas lectus in
                            tellus tempor, at pulvinar ex faucibus. Vestibulum accumsan tortor et gravida facilisis. In
                            volutpat nec nisl et cursus.</p>
                    </div>
                </div>
                <div class="col d-none d-md-flex">
                    <div class="font-kingsbridge font-weight-bold m-auto">
                        <h3>&#x2501; <span class="bg-theme-primary p-1 rounded">05.</span> Lorem Ipsum</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>