{% load static %}
<div class="vh-100 d-flex">
    <div class="container m-auto">
        <div class="row">
            <div class="col-12 col-md d-flex p-0 vh-50"
                 style="background-image: url({% static "/portfolio/img/baby_picture.jpg" %});
                         background-size: cover;
                         background-position: center;">
                <div class="h-100 w-100 tinted-center">
                    <div class="m-auto font-kingsbridge font-weight-bold text-center text-theme-secondary font-size-4rem">
                        {{ page.name }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md d-flex bg-light">
                <div class="p-4 font-kingsbridge m-auto">
                    <p>Justin Shan Chun Fu is a Python Software Engineer based in California. He has a B.S. in Computer
                        Science from UC Irvine. Justin is currently a Full Stack Django developer with an interest in
                        web dev and machine learning.</p>
                    <div class="d-flex">
                        <div class="m-auto">
                            <p>Watch &#x2501;
                                <a href="https://www.youtube.com/watch?v=1-TWkrDbYjs&ab_channel=VIBRVNCY"> Justin
                                    dance</a>
                            </p>
                            <p>Play &#x2501;
                                <a href="https://na.op.gg/summoner/userName=Aktahphoo">League of Legends</a>
                            </p>
                            <p>Play &#x2501;
                                <a href="https://playoverwatch.com/en-us/career/pc/yoriik-11662/">Overwatch</a>
                            </p>
                            <p>Current &#x2501;
                                <a href="https://open.spotify.com/playlist/5EBrBseVW4vJpBiaKEh0wx?si=cq6OmSgFQ4ibo-l-PBEWHg">playlist</a>
                            </p>
                            <p>Contact &#x2501;
                                <a href="mailto:fu.justin.s@gmail.com">Email</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>