{% load static %}
<div class="section-content">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <li class="list-group-item border-0 bg-theme-secondary text-center">
                    <div class="row">
                        {% for social in social_media %}
                            <div class="col">
                                <a href="{{ social.link }}">
                                    <img src="{% static social.image_url %}" alt="{{ social.alt }}"
                                         class="img-medium link-hover">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>
